*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    border-bottom: 2px solid black;
}
.navbar_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.navbar_content{
    display:flex;
    justify-content: space-between;
    gap: 2em;
}
.navbar_button{
    margin-right: 4em;
}
.navbar_logo{
    margin-left: 2em;
}
.navbar_button button{
    padding: 10px 30px;
    border-radius: 20px;
    background-color: white;
}

.hero{
    position: relative;
}
.container_image{
    position: absolute;
    left: 40%;
    top: -92px;
}
.container_image img{
    min-height: 55em;
    z-index: 1;
}
.hero_text{
    font-size: 6rem;
    z-index: 9999;
    margin-left: 10%;
}
.hero_text button{
    font-size: 1.4rem;
    background-color: rgb(255, 102, 0);
    padding: 20px 40px;
    border-radius: 20px ;
    color: white;
    border: 0px;
}
.orange_text{
    color: rgb(255, 102, 0);
}


.shift_content_right{
    padding-left: 32%;
}



nav form{
    margin-right: 10%;
}
.padding_li{
    padding:0px 20px ;
}



.hero_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    flex-wrap: wrap;
}
.hero_subtext{
    margin-right: 10%;
    margin-bottom: 350px;
    z-index: 9999;
    font-size: 1.3rem;
    text-align: right;
    color: gray;
}

.hero_text h3 span{
    font-size: 3rem;
}
.hero_text .part1{
    color: rgb(255, 102, 0);
}
.hero_text h3{
    padding-top: 35px;
}


.about_us{
    background-color: rgb(23, 23, 23);
    display: flex;
    padding: 50px 100px;
    border-radius: 20px;
    margin: 100px 0px;
}
.about_images{
    padding-left: 70px;
}
.about_images img{
    width: 70%;
}
.about_content{
    display: flex;
    flex-direction: column;
}
.about_content button{
    font-size: 1.4rem;
    background-color: rgb(255, 102, 0);
    padding: 20px 40px;
    border-radius: 20px ;
    color: white;
    border: 0px;
}
.about1{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    padding-top: 40px;
}
.about2{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer div{
    color: white !important;
}
.footer_txt{
    font-size: 3rem;
    text-align: center;
    align-self: center;
    padding-left: 10%;
}
.arrow{
    color: white;
    width: 50px;
}
.service_head{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.head1{
    font-size: 5rem;
    text-align: left;
    font-weight: 400;
}
.head2{
    font-size: 1.2rem

}
.service{
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
}
.s1{
    display: flex;
    gap: 10px;
    padding-top: 40px;

}
.s1a{
    background-color: rgb(249, 240, 240);
    border-radius: 20px;
    flex: 1;
    min-height: 200px;
    padding: 20px;
}
.s1b{
    background-color: rgb(249, 240, 240);
    border-radius: 20px;
    flex: 1;
    min-height: 200px;
    padding: 20px;

}
.s1c{
    background-color: rgb(249, 240, 240);
    border-radius: 20px;
    flex: 2;
    min-height: 200px;
    padding: 20px;

}
.s2{
    display: flex;
    gap: 10px;
    padding-top: 40px;
}
.s2a{
    background-color: rgb(249, 240, 240);
    border-radius: 20px;
    flex: 2;
    min-height: 200px;
    padding: 20px;

}
.s2b{
    background-color: rgb(249, 240, 240);
    border-radius: 20px;
    flex: 1;
    min-height: 200px;
    padding: 20px;

}
.s2c{
    background-color: rgb(249, 240, 240);
    border-radius: 20px;
    flex: 1;
    min-height: 200px;
    padding: 20px;

}
.navbar_button :hover{
    border:2px solid rgb(255, 102, 0);
    color: rgb(255, 102, 0);
}
@media (max-width:1010px) {
    .shift_content_right{
        padding-left: 0%;
    }
    .container_image{
        display: none;
    }
    .hero_1{
        flex-direction: column;
        justify-content: center;
    }
    .hero_subtext{
        margin-bottom: 0px;
    }
    .s1{
        flex-direction: column;
    }
    .s2{
        flex-direction: column;
    }
}

/* loader */
#loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: rgb(255, 102, 0);
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }
   